@{
    ViewData["Title"] = "Home";
}

<h3>Hello world!</h3>
@*<Fab title="Hello World!" color="black" text-color="white" icon="lock">
	<form class="form-horizontal" id="LoginForm" method="post" action="/login">
		<fieldset class="responsive">
			<FormComponent type="input type=text" id="Username" required>Username</FormComponent>
			<FormComponent type="input type=password" id="Password" required>Password</FormComponent>
			<div class="form-group">
				<recaptcha />
			</div>
		</fieldset>
		<Row>
			<div column span-md="6"><button type="submit" class="btn" size="md" btn-style="success" full-width id="submit">Login</button></div>
			<div column span-md="6"><a href="/register" class="btn" size="md" full-width btn-style="warning">Register</a></div>
		</Row>
	</form>
</Fab>*@
<ActionButton color="deep purple" icon="material-public" class="ripple"></ActionButton>



<Chip>Hello World</Chip>
<Chip closable>Hello World</Chip>
<Chip color="lime">Hello World</Chip>
<Chip contact-label="X">Hello World</Chip>
<Chip contact-label="A" contact-color="red" closable data-badge="99+" class="badge">Hello World</Chip>