.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999999999999999999999999999999999999;
}

div[banner-card] {
	position: relative;
	width: 100%;
	height: 0;
}

	div[banner-card]:after {
		content: " ";
		position: absolute;
		z-index: -99999999999999999999999999999;
		top: 0;
		width: 100%;
		max-height: 100vh;
		height: 500px;
		left: 0;
		right: 0;
	}

div[card] {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 200px;
	overflow: hidden;
	z-index: 1;
	position: relative;
	background: #fff;
	border-radius: 2px;
	box-sizing: border-box;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	margin-bottom: 15px;
}

	div[card][media-card] {
		background-color: rgb(68,138,255);
		background-repeat: repeat;
		background-position: 50% 50%;
		background-size: cover;
		background-origin: padding-box;
		background-attachment: scroll;
		box-sizing: border-box
	}

div[card] > .title {
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	color: #000;
	display: block;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: stretch;
	-ms-flex-pack: stretch;
	justify-content: stretch;
	line-height: normal;
	padding: 16px;
	-webkit-perspective-origin: 165px 56px;
	perspective-origin: 165px 56px;
	-webkit-transform-origin: 165px 56px;
	transform-origin: 165px 56px;
	box-sizing: border-box
}

	div[card] > .title[has-border] {
		border-bottom: 1px solid rgba(0,0,0,.1)
	}

	div[card] > .title > p,
	div[card] > .title > h1,
	div[card] > .title > h2,
	div[card] > .title > h3,
	div[card] > .title > h4,
	div[card] > .title > h5,
	div[card] > .title > h6,
	div[card] > .title > span {
		-webkit-align-self: flex-end;
		-ms-flex-item-align: end;
		align-self: flex-end;
		color: inherit;
		display: block;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		font-size: 24px;
		font-weight: 300;
		line-height: normal;
		overflow: hidden;
		-webkit-transform-origin: 149px 48px;
		transform-origin: 149px 48px;
		margin: 0
	}

div[card] > .title > .subtitle {
	font-size: 14px;
	color: rgba(0,0,0,.54);
	margin: 0
}

div[card] > div.card-body {
	overflow: hidden;
	padding: 16px;
}

div[card] > div.card-body[information] {
	color: rgba(0,0,0,.54);
	font-size: 1rem;
	line-height: 18px;
}

	div[card] > div.card-body[has-border] {
		border-bottom: 1px solid rgba(0,0,0,.1)
	}

div[card] > div.actions {
	font-size: 16px;
	line-height: normal;
	width: 100%;
	background-color: transparent;
	padding: 8px;
	box-sizing: border-box
}

	div[card] > div.actions[has-border] {
		border-top: 1px solid rgba(0,0,0,.1)
	}

div[card] > .title[expanded] {
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1
}

div[card] > .action-menu {
	position: absolute;
	right: 16px;
	top: 16px
}

.nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none
}

	.nav > li {
		position: relative;
		display: block
	}

		.nav > li > a {
			position: relative;
			display: block;
			padding: 10px 15px
		}

			.nav > li > a:focus, .nav > li > a:hover {
				text-decoration: none;
				background-color: #eee
			}

		.nav > li.disabled > a {
			color: #777
		}

			.nav > li.disabled > a:focus, .nav > li.disabled > a:hover {
				color: #777;
				text-decoration: none;
				cursor: not-allowed;
				background-color: transparent
			}

	.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
		background-color: #eee;
		border-color: #337ab7
	}

	.nav .nav-divider {
		height: 1px;
		margin: 9px 0;
		overflow: hidden;
		background-color: #e5e5e5
	}

	.nav > li > a > img {
		max-width: none
	}

@media (min-width:768px) {
	.navbar-right .dropdown-menu {
		left: auto;
		right: 0
	}

	.navbar-right .dropdown-menu-left {
		left: 0;
		right: auto
	}
}

.navbar {
	position: relative;
	min-height: 50px;
	border: 1px solid transparent
}

@media (min-width:768px) {
	.navbar {
		border-radius: 4px
	}
}

@media (min-width:768px) {
	.navbar-header {
		float: left
	}
}

.navbar-collapse {
	padding-right: 15px;
	padding-left: 15px;
	overflow-x: visible;
	-webkit-overflow-scrolling: touch;
	border-top: 1px solid transparent;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1)
}

	.navbar-collapse.in {
		overflow-y: auto
	}

@media (min-width:768px) {
	.navbar-collapse {
		width: auto;
		border-top: 0;
		-webkit-box-shadow: none;
		box-shadow: none
	}

		.navbar-collapse.collapse {
			display: block !important;
			height: auto !important;
			padding-bottom: 0;
			overflow: visible !important
		}

		.navbar-collapse.in {
			overflow-y: visible
		}

	.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse {
		padding-right: 0;
		padding-left: 0
	}
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
	max-height: 340px
}

@media (max-device-width:480px) and (orientation:landscape) {
	.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
		max-height: 200px
	}
}

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
	margin-right: -15px;
	margin-left: -15px
}

@media (min-width:768px) {
	.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
		margin-right: 0;
		margin-left: 0
	}
}

.navbar-static-top {
	z-index: 1000;
	border-width: 0 0 1px
}

@media (min-width:768px) {
	.navbar-static-top {
		border-radius: 0
	}
}

.navbar-fixed-bottom, .navbar-fixed-top {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030
}

@media (min-width:768px) {
	.navbar-fixed-bottom, .navbar-fixed-top {
		border-radius: 0
	}
}

.navbar-fixed-top {
	top: 0;
	border-width: 0 0 1px
}

.navbar-fixed-bottom {
	bottom: 0;
	margin-bottom: 0;
	border-width: 1px 0 0
}

.navbar-brand {
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px
}

	.navbar-brand:focus, .navbar-brand:hover {
		text-decoration: none
	}

	.navbar-brand > img {
		display: block
	}

@media (min-width:768px) {
	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
		margin-left: -15px
	}
}

.navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px
}

	.navbar-toggle:focus {
		outline: 0
	}

	.navbar-toggle .icon-bar {
		display: block;
		width: 22px;
		height: 2px;
		border-radius: 1px
	}

		.navbar-toggle .icon-bar + .icon-bar {
			margin-top: 4px
		}

@media (min-width:768px) {
	.navbar-toggle {
		display: none
	}
}

.navbar-nav {
	margin: 7.5px -15px
}

	.navbar-nav > li > a {
		padding-top: 10px;
		padding-bottom: 10px;
		line-height: 20px
	}

@media (max-width:767px) {
	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none
	}

		.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a {
			padding: 5px 15px 5px 25px
		}

		.navbar-nav .open .dropdown-menu > li > a {
			line-height: 20px
		}

			.navbar-nav .open .dropdown-menu > li > a:focus, .navbar-nav .open .dropdown-menu > li > a:hover {
				background-image: none
			}
}

@media (min-width:768px) {
	.navbar-nav {
		float: left;
		margin: 0
	}

		.navbar-nav > li {
			float: left
		}

			.navbar-nav > li > a {
				padding-top: 15px;
				padding-bottom: 15px
			}
}

.navbar-form {
	padding: 10px 15px;
	margin-top: 8px;
	margin-right: -15px;
	margin-bottom: 8px;
	margin-left: -15px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1)
}

@media (min-width:768px) {
	.navbar-form .form-group {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle
	}

	.navbar-form .form-control {
		display: inline-block;
		width: auto;
		vertical-align: middle
	}

	.navbar-form .form-control-static {
		display: inline-block
	}

	.navbar-form .input-group {
		display: inline-table;
		vertical-align: middle
	}

		.navbar-form .input-group .form-control, .navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn {
			width: auto
		}

		.navbar-form .input-group > .form-control {
			width: 100%
		}

	.navbar-form .control-label {
		margin-bottom: 0;
		vertical-align: middle
	}

	.navbar-form .checkbox, .navbar-form .radio {
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
		vertical-align: middle
	}

		.navbar-form .checkbox label, .navbar-form .radio label {
			padding-left: 0
		}

		.navbar-form .checkbox input[type=checkbox], .navbar-form .radio input[type=radio] {
			position: relative;
			margin-left: 0
		}

	.navbar-form .has-feedback .form-control-feedback {
		top: 0
	}
}

@media (max-width:767px) {
	.navbar-form .form-group {
		margin-bottom: 5px
	}

		.navbar-form .form-group:last-child {
			margin-bottom: 0
		}
}

@media (min-width:768px) {
	.navbar-form {
		width: auto;
		padding-top: 0;
		padding-bottom: 0;
		margin-right: 0;
		margin-left: 0;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none
	}
}

.navbar-nav > li > .dropdown-menu {
	margin-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0
}

.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
	margin-bottom: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0
}

.navbar-btn {
	margin-top: 8px;
	margin-bottom: 8px
}

	.navbar-btn.btn-sm {
		margin-top: 10px;
		margin-bottom: 10px
	}

	.navbar-btn.btn-xs {
		margin-top: 14px;
		margin-bottom: 14px
	}

.navbar-text {
	margin-top: 15px;
	margin-bottom: 15px
}

@media (min-width:768px) {
	.navbar-text {
		float: left;
		margin-right: 15px;
		margin-left: 15px
	}
}

@media (min-width:768px) {
	.navbar-left {
		float: left !important
	}

	.navbar-right {
		float: right !important;
		margin-right: -15px
	}

		.navbar-right ~ .navbar-right {
			margin-right: 0
		}
}

.navbar-default {
	background-color: #f8f8f8;
	border-color: #e7e7e7
}

	.navbar-default .navbar-brand {
		color: #777
	}

		.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
			color: #5e5e5e;
			background-color: transparent
		}

	.navbar-default .navbar-text {
		color: #777
	}

	.navbar-default .navbar-nav > li > a {
		color: #777
	}

		.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
			color: #333;
			background-color: transparent
		}

	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
		color: #555;
		background-color: #e7e7e7
	}

	.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:focus, .navbar-default .navbar-nav > .disabled > a:hover {
		color: #ccc;
		background-color: transparent
	}

	.navbar-default .navbar-toggle {
		border-color: #ddd
	}

		.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
			background-color: #ddd
		}

		.navbar-default .navbar-toggle .icon-bar {
			background-color: #888
		}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border-color: #e7e7e7
	}

	.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
		color: #555;
		background-color: #e7e7e7
	}

@media (max-width:767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #777
	}

		.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
			color: #333;
			background-color: transparent
		}

	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover {
		color: #555;
		background-color: #e7e7e7
	}

	.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover {
		color: #ccc;
		background-color: transparent
	}
}

.navbar-default .navbar-link {
	color: #777
}

	.navbar-default .navbar-link:hover {
		color: #333
	}

.navbar-default .btn-link {
	color: #777
}

	.navbar-default .btn-link:focus, .navbar-default .btn-link:hover {
		color: #333
	}

	.navbar-default .btn-link[disabled]:focus, .navbar-default .btn-link[disabled]:hover, fieldset[disabled] .navbar-default .btn-link:focus, fieldset[disabled] .navbar-default .btn-link:hover {
		color: #ccc
	}

.navbar-inverse {
	background-color: #222;
	border-color: #080808
}

	.navbar-inverse .navbar-brand {
		color: #9d9d9d
	}

		.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
			color: #fff;
			background-color: transparent
		}

	.navbar-inverse .navbar-text {
		color: #9d9d9d
	}

	.navbar-inverse .navbar-nav > li > a {
		color: #9d9d9d
	}

		.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
			color: #fff;
			background-color: transparent
		}

	.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
		color: #fff;
		background-color: #080808
	}

	.navbar-inverse .navbar-nav > .disabled > a, .navbar-inverse .navbar-nav > .disabled > a:focus, .navbar-inverse .navbar-nav > .disabled > a:hover {
		color: #444;
		background-color: transparent
	}

	.navbar-inverse .navbar-toggle {
		border-color: #333
	}

		.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
			background-color: #333
		}

		.navbar-inverse .navbar-toggle .icon-bar {
			background-color: #fff
		}

	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
		border-color: #101010
	}

	.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
		color: #fff;
		background-color: #080808
	}

@media (max-width:767px) {
	.navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
		border-color: #080808
	}

	.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
		background-color: #080808
	}

	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
		color: #9d9d9d
	}

		.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
			color: #fff;
			background-color: transparent
		}

	.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover {
		color: #fff;
		background-color: #080808
	}

	.navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover {
		color: #444;
		background-color: transparent
	}
}

.navbar-inverse .navbar-link {
	color: #9d9d9d
}

	.navbar-inverse .navbar-link:hover {
		color: #fff
	}

.navbar-inverse .btn-link {
	color: #9d9d9d
}

	.navbar-inverse .btn-link:focus, .navbar-inverse .btn-link:hover {
		color: #fff
	}

	.navbar-inverse .btn-link[disabled]:focus, .navbar-inverse .btn-link[disabled]:hover, fieldset[disabled] .navbar-inverse .btn-link:focus, fieldset[disabled] .navbar-inverse .btn-link:hover {
		color: #444
	}

.form-group > .g-recaptcha > div {
	margin: 0 auto;
}

.toaster {
	position: fixed;
	top: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
	width: 750px;
	max-width: 750px;
	min-width: 750px;
	z-index: 999999999999999;
}

	.toaster h3 {
		display: inline-block;
		margin: 8px 0 0 0;
	}

	.toaster .popup-body {
		margin-left: 64px;
	}

	.toaster .popup-icon {
		display: block;
		text-align: center;
		line-height: 64px;
		width: 64px;
		height: 64px;
		font-size: 32px;
	}

	.toaster .popup-close {
		margin: 2px 2px 0 0;
		color: transparent;
		cursor: pointer;
		text-decoration: none;
	}

	.toaster:hover .popup-close {
		color: #fff;
	}

@media screen and (max-width: 768px) {
	.toaster {
		width: 100%;
		max-width: 100%;
		min-width: 100%;
	}
}

div[dark-page-overlay] {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	z-index: 5;
	-webkit-transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
	transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
}

a.btn[fab] {
	text-decoration: none;
}

.btn[fab] {
	z-index: 5;
	cursor: pointer;
	border-radius: 50%;
	height: 56px;
	width: 56px;
	min-width: 56px;
	min-height: 56px;
	box-shadow: 0 5px 5px rgba(126, 111, 111, 0.39);
	/*transition: all 300ms ease-in-out;*/
	/*-webkit-transition: all 300ms ease-in-out;*/
	-webkit-transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
	transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
}

	.btn[fab].active {
		position: fixed;
		cursor: default;
		background: #FFF !important;
		border-radius: .125em;
		min-width: 450px;
		min-height: 50px;
		height: auto;
		box-shadow: 0 25px 35px 0 rgba(0, 0, 0, 0.35);
		top: 10%;
		left: 50%;
		right: 50%;
		transform: translate(-50%);
		padding: 0;
	}

	.btn[fab] > [fab-icon] {
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-12px, -12px);
		-ms-transform: translate(-12px, -12px);
		transform: translate(-12px, -12px);
		line-height: 24px;
		width: 24px;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.btn[fab].active > [fab-icon] {
		display: none;
	}

	.btn[fab].active .protect {
		background: none;
	}

	.btn[fab] > [fab-wrapper] {
		display: none;
	}

	.btn[fab].active > [fab-wrapper] {
		display: block;
	}

	.btn[fab] > [fab-wrapper] > [fab-title] {
		/*position: relative;
		width: 100%;
		left: 0;
		height: 50px;*/
	}

		.btn[fab] > [fab-wrapper] > [fab-title] > h3 {
			padding: 0;
			margin: 0;
			line-height: 50px;
		}

	.btn[fab] > [fab-wrapper] > [fab-content] {
		padding: 0 5px 5px 5px;
		float: left;
		color: #757575;
		width: 100%;
		height: 100%;
		position: relative;
		text-align: left;
	}

	.btn[fab] > [fab-wrapper] > [btn-wrapper] {
		position: absolute;
		right: 0;
		bottom: 0;
		margin-bottom: 8px;
		padding: 6px 16px;
	}


.chip {
	height: 32px;
	font-family: "Roboto","Helvetica","Arial",sans-serif;
	line-height: 32px;
	padding: 0 12px;
	border: 0;
	border-radius: 16px;
	background-color: #dedede;
	display: inline-block;
	color: rgba(0,0,0,.87);
	margin: 2px 0;
	font-size: 0;
	white-space: nowrap;
}

	.chip.deletable {
		padding-right: 4px;
	}

	.chip > .chip-text {
		font-size: 13px;
		vertical-align: middle;
		display: inline-block;
	}

	.chip > .chip-action {
		height: 24px;
		width: 24px;
		background: 0 0;
		opacity: .54;
		cursor: pointer;
		padding: 0;
		margin: 0 0 0 4px;
		font-size: 13px;
		text-decoration: none;
		color: rgba(0,0,0,.87);
		border: none;
		outline: none;
	}

	.chip > .chip-action,
	.chip.chip-contact > .contact {
		display: inline-block;
		vertical-align: middle;
		overflow: hidden;
		text-align: center;
	}

	.chip.chip-contact {
		padding-left: 0;
	}

		.chip.chip-contact > .contact {
			height: 32px;
			width: 32px;
			border-radius: 16px;
			margin-right: 8px;
			font-size: 18px;
			line-height: 32px;
		}